.scp-details-table {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0.2in 0.11in 0.2in;
}

.scp-details-column {
  display: flex;
  flex-direction: column;
}

.scp-row {
  display: flex;
}

.scp-labels {
  width: 1.48in;
  margin-bottom: 0.138in;
  margin-top: 0;
  font-weight: 300;
  font-size: 0.194in;
  letter-spacing: 0.01in;
}

.scp-child-info {
  font-weight: normal;
  font-size: 0.194in;
  letter-spacing: 0.01in;
  width: 1.94in;
  margin-bottom: 0.138in;
  margin-top: 0;
  margin-left: 0.15in;
}
