.scl-details-table {
  width: 40%;
  height: 4.5in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.05in;
}

.scl-row {
  display: flex;
}

.scl-label {
  width: 45%;
  margin-bottom: 0.2in;
  margin-top: 0;
  font-weight: 300;
  font-size: 0.175in;
  letter-spacing: 0.01in;
}

.scl-child-info {
  font-weight: normal;
  font-size: 0.175in;
  letter-spacing: 0.01in;
  width: 60%;
  margin-bottom: 0.2in;
  margin-top: 0;
  text-align: right;
}
