.mcp-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.27in 0.1in 0.27in;
}

.mcp-date-location-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mcp-details-column :first-child {
  margin-right: 0.15in;
}

.mcp-details-row {
  display: flex;
}

.mcp-details-label-missingDate {
  width: 1.5in;
  margin-bottom: 0.138in;
  margin-top: 0;
  font-weight: 300;
  font-size: 0.194in;
  letter-spacing: 0.01in;
}

.mcp-details-label-location {
  width: 1in;
  margin-bottom: 0.138in;
  margin-top: 0;
  font-weight: 300;
  font-size: 0.194in;
  letter-spacing: 0.01in;
}

.mcp-details-children-info {
  font-weight: normal;
  font-size: 0.194in;
  letter-spacing: 0.01in;
  min-width: 1.94in;
  margin-bottom: 0.138in;
  margin-top: 0;
}

.mcp-circumstances > p {
  font-weight: 300;
  font-size: 0.194in;
  letter-spacing: 0.01in;
  margin: 0in;
  overflow: hidden;
  line-height: 1.5em;
  height: 4em;
}
