.scp-body-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.277in;
  flex-direction: column;
}

.scp-banner-headline {
  margin: 0in 0in 0.194in 0in;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scp-banner-title > h2 {
  font-size: 0.527in;
  text-align: center;
  font-weight: normal;
  margin: 0.05in 0in;
}

.scp-banner-title > h3 {
  text-align: center;
  letter-spacing: 0.01in;
  font-weight: 300;
  font-size: 0.25in;
  margin: 0.05in 0in;
}

.scp-banner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.scp-circumstances > p {
  font-weight: 300;
  font-size: 0.194in;
  letter-spacing: 0.01in;
  margin: 0in;
}
