.scla-body-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.05in 0.25in 0.1in 0.25in;
  flex-direction: column;
  height: 5.38in;
}

.scla-upper-section {
  display: flex;
  justify-content: space-between;
  margin-top: 0.18in;
  align-items: center;
}

.scla-abductors-wrapper {
  margin-left: 0.15in;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.scla-abductors-wrapper > h4 {
  margin: 0 0 0.03in 0.08in;
  color: #c72828;
  font-style: normal;
  font-weight: 900;
  font-size: 0.2in;
  letter-spacing: 0.01in;
}

.scla-banner-title {
  margin-bottom: 0.08in;
  margin-right: 3.75in;
}
.scla-banner-title > h2 {
  font-size: 0.35in;
  text-align: center;
  font-weight: normal;
  margin: 0.03in 0in;
}

.scla-banner-title > h3 {
  text-align: center;
  letter-spacing: 0.01in;
  font-weight: 300;
  font-size: 0.2in;
  margin: 0.05in 0in;
}

.scla-circumstances > p {
  font-weight: 300;
  font-size: 0.17in;
  letter-spacing: 0.01in;
  margin: 0in;
  width: 10in;
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
}
