.banner-abductor-card-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0.2in;
}

.banner-abductor-image-wrapper {
  display: block;
  margin: auto 0.15in auto 0;
  height: 1.31in;
  width: 1.31in;
  border-radius: 50%;
  overflow: hidden;
  background-color: #c4c4c4;
}

.banner-abductor-image {
  object-fit: contain;
  max-width: 1.31in;
  max-height: 1.31in;
  margin: auto;
  display: flex;
}

.banner-abductor-details-container {
  height: 1.6in;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.15in 0;
}

.banner-abductor-details-container > h3 {
  margin: 0;
}
.banner-abductor-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0.28in;
}

.banner-abductor-row > p {
  margin: 0;
}

.banner-abductor-label {
  font-weight: 300;
  letter-spacing: 0.01in;
  font-size: 0.18in;
}

.banner-abductor-info {
  font-weight: normal;
  font-size: 0.18in;
  letter-spacing: 0.01in;
}
