.banner-header-container {
  height: 1.361in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-header-text {
  font-weight: 900;
  letter-spacing: 0.01in;
  margin: 0in;
}

.banner-header-agency-wrapper {
  background-color: white;
  width: 1.388in;
  height: 1.388in;
  border-radius: 50%;
  box-shadow: 0in 0.05in 0.138in rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.32in;
  margin-top: 0.35in;
}

.banner-header-agency-logo {
  width: 0.9in;
}

.banner-header-qrCode {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.388in;
  height: 1.388in;
  box-shadow: 0in 0.05in 0.138in rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin-right: 0.35in;
  margin-top: 0.35in;
}
